extends ../layout

block content

    if (!client)
        - client = {};

    .card.offset-1.col-10
        form(method='post')
            - var disabled = true;
            - var needsClient = true;
            include ../templates/client.jade

            br

            label(for='due') Due
            input#due.form-control(name='due' value=client.due)

            input.btn.btn-success.offset-1.col-10(type='submit' value='Done' style='margin-top:1%')