extends ../layout

block content
    script(type='text/javascript').
        var TABLE = !{JSON.stringify(TABLE)};
    script(src='/js/t2/monitoring.js')

    #table.col-12.tab-content
            table(id='t2Table').cell-border
                thead
                    tr
                        each column in TABLE
                            th=column.header
                tfoot
                    tr
                        each column in TABLE
                            th
                tbody
                    each t2 in t2s
                        tr(data-href="/t2/client/" + t2._id)
                            each column, index in TABLE
                                - var value = column.value(t2);
                                - var classes = column.classes ? column.classes.join(' ') : '';
                                td.text-nowrap(class=classes)=value