//
   Created by ander on 2017-05-17.

extends layout

block content

    script(type="text/javascript").
        var client = !{JSON.stringify(client)};
        var options = !{JSON.stringify(options)};
    script(src='/js/client/client_form.js')

    h1=title
    br
    form(method='post')
        hr
        fieldset.form-group
            legend General Info
            .row
                .form-group.col-2
                    label(for='year') Year
                    input#year.form-control(type='number' name='year')
                .form-group.col-2
                    label(for='interviewer') Interviewer
                    input#interviewer.form-control(type='text' name='interviewer')
                .form-group.col-2
                    label(for='preparer') Preparer
                    input#preparer.form-control(type='text' name='preparer')
                .form-group.col-2
                    label(for='checker') Checker
                    input#checker.form-control(type='text' name='checker')
                .form-group.col-2
                    label(for='pickupDate') Pickup Date
                    input#pickupDate.form-control.datepicker(type='text' name='pickupDate')
                .form-group.col-2
                    label(for='interviewDate') Interview Date
                    input#interviewDate.form-control.datepicker(type='text' name='interviewDate')
            .row
                .form-group.col-2
                    label(for='returns') Number of Returns
                    input#returns.form-control(type='number' name='numberOfReturns')
                .form-group.col-2
                    label(for='method') Drop or Email
                    select#method.form-control(name='method')
                .form-group.col-2
                    label(for='t1135') T1135
                    select#t1135.form-control(name='t1135')
                .form-group.col-2
                    label(for='group') Group
                    input#group.form-control(type='text' name='group')
                .row.col-4
                        .form-check
                            label.form-check-label(for='slips')
                                input#slips.form-check-input(type='checkbox' name='slips')
                                | Slips
                        .form-check
                            label.form-check-label(for='stocks')
                                input#stocks.form-check-input(type='checkbox' name='stocks')
                                | Stocks
                        .form-check
                            label.form-check-label(for='t777')
                                input#t777.form-check-input(type='checkbox' name='t777')
                                | T777
                        .form-check
                            label.form-check-label(for='new')
                                input#new.form-check-input(type='checkbox' name='new')
                                | New
                        .form-check
                            label.form-check-label(for='prSold')
                                input#prSold.form-check-input(type='checkbox' name='prSold')
                                | PR Sold
                        .form-check
                            label.form-check-label(for='selfEmployed')
                                input#selfEmployed.form-check-input(type='checkbox' name='selfEmployed')
                                | Self Emp
                        .form-check
                            label.form-check-label(for='rental')
                                input#rental.form-check-input(type='checkbox' name='rental')
                                | Rental
                    .col-3
            .row
                .form-group.col-2
                    label(for='tel') Telephone
                    input#tel.form-control.phone(type='text' name='tel.number')
                    .checkbox
                        label(for='newTel')
                            input#newTel(type='checkbox' name='tel.check')
                            | New Telephone
                .form-group.col-2
                    label(for='cell') Cell
                    input#cell.form-control.phone(type='text' name='cell.number')
                    .checkbox
                        label(for='newCell')
                            input#newCell(type='checkbox' name='cell.check')
                            | New Cell
                .form-group.col-4
                    label(for='email') Email
                    input#email.form-control(type='email' name='email.value')
                    .checkbox
                        label(for='newEmail')
                            input#newEmail(type='checkbox' name='email.check')
                            | New Email
            .row
                .form-group.col-12
                    label Address
                    .row
                        .col-1
                            label(for='apartment') Apt. No.
                            input#apartment.form-control(type='text' name='address.apartment')
                        .col-3
                            label(for='street') Street
                            input#street.form-control(type='text' name='address.street')
                        .col-2
                            label(for='city') City
                            input#city.form-control(type='text' name='address.city')
                        .col-1
                            label(for='province') Province
                            input#province.form-control(type='text' name='address.province' value='BC')
                        .col-2
                            label(for='postalCode') Postal Code
                            input#postalCode.form-control(type='text' name='address.postalCode')
                        .checkbox.col-12
                            label(for='newAddress')
                                input#newAddress(type='checkbox' name='address.check')
                                | New Address
            .form-group
                label Husband
                hr
                .row
                    .col-2
                        label(for='husbandFirstName') First Name
                        input#husbandFirstName.form-control(type='text' name='husband.firstName')
                    .col-2
                        label(for='husbandLastName') Last Name
                        input#husbandLastName.form-control(type='text' name='husband.lastName')
                    .col-2
                        label(for='husbandDob') Date of Birth
                        input#husbandDob.form-control.datepicker.datepicker(type='text' name='husband.dateOfBirth')
                    .col-2
                        label(for='husbandDeparture') Departure/Land
                        input#husbandDeparture.form-control(type='text' name='husband.departure')
                    .col-2
                        label(for='husbandSin') SIN
                        input#husbandSin.form-control.sin(type='text' name='husband.sin')
                    .group
                        br
                        .form-check
                            label.form-check-label(for='husbandCitizenship')
                                input#husbandCitizenship.form-check-input(type='checkbox' name='husband.citizenship')
                                | Citizen
                        .form-check
                            label.form-check-label(for='husbandElection')
                                input#husbandElection.form-check-input(type='checkbox' name='husband.election')
                                | Election
                    .form-check
                        br
                        label.form-check-label(for='husbandNoa')
                            input#husbandNoa.form-check-input(type='checkbox' name='husband.noa')
                            | NOA
                label Wife
                .row
                    .col-2
                        label(for='wifeFirstName') First Name
                        input#wifeFirstName.form-control(type='text' name='wife.firstName')
                    .col-2
                        label(for='wifeLastName') Last Name
                        input#wifeLastName.form-control(type='text' name='wife.lastName')
                    .col-2
                        label(for='wifeDob') Date of Birth
                        input#wifeDob.form-control.datepicker(type='text' name='wife.dateOfBirth')
                    .col-2
                        label(for='wifeDeparture') Departure/Land
                        input#wifeDeparture.form-control(type='text' name='wife.departure')
                    .col-2
                        label(for='wifeSin') SIN
                        input#wifeSin.form-control.sin(type='text' name='wife.sin')
                    .group
                        br
                        .form-check
                            label.form-check-label(for='wifeCitizenship')
                                input#wifeCitizenship.form-check-input(type='checkbox' name='wife.citizenship')
                                | Citizen
                        .form-check
                            label.form-check-label(for='wifeElection')
                                input#wifeElection.form-check-input(type='checkbox' name='wife.election')
                                | Election
                    .form-check
                        br
                        label.form-check-label(for='wifeNoa')
                            input#wifeNoa.form-check-input(type='checkbox' name='wife.noa')
                            | NOA
                label Dependents
                .row
                    .col-4
                        label(for='dependent1') Name
                        input#dependent1.form-control(type='text' name='dependent1.name')
                    .col-1
                        label(for='relationship1') Relationship
                        select#relationship1.form-control(name='dependent1.relationship')
                    .col-2
                        label(for='dob1') Date of Birth
                        input#dob1.form-control.datepicker(type='text' name='dependent1.dateOfBirth')
                    .col-2
                        label(for='sin1') SIN
                        input#sin1.form-control.sin(type='text' name='dependent1.sin')
                .row
                    .col-4
                        label(for='dependent2') Name
                        input#dependent2.form-control(type='text' name='dependent2.name')
                    .col-1
                        label(for='relationship2') Relationship
                        select#relationship2.form-control(name='dependent2.relationship')
                    .col-2
                        label(for='dob2') Date of Birth
                        input#dob2.form-control.datepicker(type='text' name='dependent2.dateOfBirth')
                    .col-2
                        label(for='sin2') SIN
                        input#sin2.form-control.sin(type='text' name='dependent2.sin')
                .row
                    .col-4
                        label(for='dependent3') Name
                        input#dependent3.form-control(type='text' name='dependent3.name')
                    .col-1
                        label(for='relationship3') Relationship
                        select#relationship3.form-control(name='dependent3.relationship')
                    .col-2
                        label(for='dob3') Date of Birth
                        input#dob3.form-control.datepicker(type='text' name='dependent3.dateOfBirth')
                    .col-2
                        label(for='sin3') SIN
                        input#sin3.form-control.sin(type='text' name='dependent3.sin')

        hr
        fieldset.form-group
            legend Calculation of Total Income
            .row
                .col-6
                    label.col-12 Husband
                    hr
                    .row
                        .form-check
                            label.form-check-label(for='husbandT4')
                                input#husbandT4.form-check-input(type='checkbox' name='husband.t4')
                                | T4
                        .group
                            .form-check
                                label.form-check-label(for='husbandT5')
                                    input#husbandT5.form-check-input(type='checkbox' name='husband.t5.value')
                                    | T5
                            .form-check
                                label.form-check-label(for='husbandT5Joint')
                                    input#husbandT5Joint.form-check-input(type='checkbox' name='husband.t5.joint')
                                    | Joint
                        .group
                            .form-check
                                label.form-check-label(for='husbandT5Other')
                                    input#husbandT5Other.form-check-input(type='checkbox' name='husband.t5Other.value')
                                    | T5 (Other currency)
                            .form-check
                                label.form-check-label(for='husbandT5OtherJoint')
                                    input#husbandT5OtherJoint.form-check-input(type='checkbox' name='husband.t5Other.joint')
                                    | Joint
                        .group
                            .form-check
                                label.form-check-label(for='husbandT3')
                                    input#husbandT3.form-check-input(type='checkbox' name='husband.t3.value')
                                    | T3
                            .form-check
                                label.form-check-label(for='husbandT3Joint')
                                    input#husbandT3Joint.form-check-input(type='checkbox' name='husband.t3.joint')
                                    | Joint
                        .form-check
                            label.form-check-label(for='husbandT5007')
                                input#husbandT5007.form-check-input(type='checkbox' name='husband.t5007')
                                | T5007
                        .form-check
                            label.form-check-label(for='husbandT4A')
                                input#husbandT4A.form-check-input(type='checkbox' name='husband.t4A')
                                | T4A
                    label Other Income
                    .row
                        .form-group.col-3
                            label(for='husband104') 104
                            input#husband104.form-control(type='number' name='husband.otherIncome.value104')
                        .form-group.col-3
                            label(for='husband130') 130
                            input#husband130.form-control(type='number' name='husband.otherIncome.value130')
                        .group
                            br
                            .form-check
                                label.form-check-label(for='husbandT5008')
                                    input#husbandT5008.form-check-input(type='checkbox' name='husband.t5008.value')
                                    | T5008 / S3
                            .form-check
                                label.form-check-label(for='husbandT5008Joint')
                                    input#husbandT5008Joint.form-check-input(type='checkbox' name='husband.t5008.joint')
                                    | Joint
                        .form-check
                            br
                            label.form-check-label(for='husbandT4AOAS')
                                input#husbandT4AOAS.form-check-input(type='checkbox' name='husband.t4AOAS')
                                | T4A (OAS)
                    label Foreign Income
                    .row
                        .form-group.col-4
                            label(for='husbandDiv') Div & Int
                            .input-group.form-inline
                                input#husbandDivCurrency.col-4.form-control(type='text' name='husband.foreignIncome.div.currency')
                                input#husbandDiv.form-control(type='number' name='husband.foreignIncome.div.value')
                        .form-group.col-4
                            label(for='husbandEmpl') Empl
                            .input-group.form-inline
                                input#husbandEmplCurrency.col-4.form-control(type='text' name='husband.foreignIncome.empl.currency')
                                input#husbandEmpl.form-control(type='number' name='husband.foreignIncome.empl.value')
                        .form-group.col-2
                            label(for='husbandCountry') Country
                            input#husbandCountry.form-control(type='text' name='husband.foreignIncome.country')
                        .group
                            br
                            .form-check
                                label.form-check-label(for='husbandT5013')
                                    input#husbandT5013.form-check-input(type='checkbox' name='husband.t5013.value')
                                    | T5013
                            .form-check
                                label.form-check-label(for='husbandT5013Joint')
                                    input#husbandT5013Joint.form-check-input(type='checkbox' name='husband.t5013.joint')
                                    | Joint
                    .row
                        .form-group.col-3
                            label(for='husbandRental') Rental
                            .input-group.form-inline
                                input#husbandRental.form-control(type='number' name='husband.rental.value')
                                input#husbandRentalJoint.form-control(type='number' name='husband.rental.joint')
                        .form-check.gst
                            br
                            label.form-check-label(for='husbandRentalGST')
                                input#husbandRentalGST.form-check-input(type='checkbox' name='husband.rental.gstReturn')
                                | GST Rtn
                        .form-group.col-3
                            label(for='husbandSelfEmployed') Self Empl
                            .input-group.form-inline
                                input#husbandSelfEmployed.form-control(type='number' name='husband.selfEmployed.value')
                                input#husbandSelfEmployedJoint.form-control(type='number' name='husband.selfEmployed.joint')
                        .form-check.gst
                            br
                            label.form-check-label(for='husbandSelfEmployedGST')
                                input#husbandSelfEmployedGST.form-check-input(type='checkbox' name='husband.selfEmployed.gstReturn')
                                | GST Rtn
                        .group
                            br
                            .form-check
                                label.form-check-label(for='husbandT4AP')
                                    input#husbandT4AP.form-check-input(type='checkbox' name='husband.t4AP.value')
                                    | T4A (P)
                            .form-check
                                label.form-check-label(for='husbandSplit')
                                    input#husbandSplit.form-check-input(type='checkbox' name='husband.t4AP.split')
                                    | Split
                    .row
                        .form-group.col-3
                            label(for='husbandSupportReceived') Support PYT Rec'd
                            input#husbandSupportReceived.form-control(type='number' name='husband.supportReceived')
                        .form-check
                            br
                            label.form-check-label(for='husbandT4RSP')
                                input#husbandT4RSP.form-check-input(type='checkbox' name='husband.t4RSP')
                                | T4RSP / T4RIF
                        .form-check
                            br
                            label.form-check-label(for='husbandUCCB')
                                input#husbandUCCB(type='checkbox' name='husband.uccb')
                                | UCCB

                .col-6
                    label.col-12 Wife
                        hr
                        .row
                            .form-check
                                label.form-check-label(for='wifeT4')
                                    input#wifeT4.form-check-input(type='checkbox' name='wife.t4')
                                    | T4
                            .group
                                .form-check
                                    label.form-check-label(for='wifeT5')
                                        input#wifeT5.form-check-input(type='checkbox' name='wife.t5.value')
                                        | T5
                                .form-check
                                    label.form-check-label(for='wifeT5Joint')
                                        input#wifeT5Joint.form-check-input(type='checkbox' name='wife.t5.joint')
                                        | Joint
                            .group
                                .form-check
                                    label.form-check-label(for='wifeT5Other')
                                        input#wifeT5Other.form-check-input(type='checkbox' name='wife.t5Other.value')
                                        | T5 (Other currency)
                                .form-check
                                    label.form-check-label(for='wifeT5OtherJoint')
                                        input#wifeT5OtherJoint.form-check-input(type='checkbox' name='wife.t5Other.joint')
                                        | Joint
                            .group
                                .form-check
                                    label.form-check-label(for='wifeT3')
                                        input#wifeT3.form-check-input(type='checkbox' name='wife.t3.value')
                                        | T3
                                .form-check
                                    label.form-check-label(for='wifeT3Joint')
                                        input#wifeT3Joint.form-check-input(type='checkbox' name='wife.t3.joint')
                                        | Joint
                            .form-check
                                label.form-check-label(for='wifeT5007')
                                    input#wifeT5007.form-check-input(type='checkbox' name='wife.t5007')
                                    | T5007
                            .form-check
                                label.form-check-label(for='wifeT4A')
                                    input#wifeT4A.form-check-input(type='checkbox' name='wife.t4A')
                                    | T4A
                        label Other Income
                        .row
                            .form-group.col-3
                                label(for='wife104') 104
                                input#wife104.form-control(type='number' name='wife.otherIncome.value104')
                            .form-group.col-3
                                label(for='wife130') 130
                                input#wife130.form-control(type='number' name='wife.otherIncome.value130')
                            .group
                                br
                                .form-check
                                    label.form-check-label(for='wifeT5008')
                                        input#wifeT5008.form-check-input(type='checkbox' name='wife.t5008.value')
                                        | T5008 / S3
                                .form-check
                                    label.form-check-label(for='wifeT5008Joint')
                                        input#wifeT5008Joint.form-check-input(type='checkbox' name='wife.t5008.joint')
                                        | Joint
                            .form-check
                                br
                                label.form-check-label(for='wifeT4AOAS')
                                    input#wifeT4AOAS.form-check-input(type='checkbox' name='wife.t4AOAS')
                                    | T4A (OAS)
                        label Foreign Income
                        .row
                            .form-group.col-4
                                label(for='wifeDiv') Div & Int
                                .input-group.form-inline
                                    input#wifeDivCurrency.col-4.form-control(type='text' name='wife.foreignIncome.div.currency')
                                    input#wifeDiv.form-control(type='number' name='wife.foreignIncome.div.value')
                            .form-group.col-4
                                label(for='wifeEmpl') Empl
                                .input-group.form-inline
                                    input#wifeEmplCurrency.col-4.form-control(type='text' name='wife.foreignIncome.empl.currency')
                                    input#wifeEmpl.form-control(type='number' name='wife.foreignIncome.empl.value')
                            .form-group.col-2
                                label(for='wifeCountry') Country
                                input#wifeCountry.form-control(type='text' name='wife.foreignIncome.country')
                            .group
                                br
                                .form-check
                                    label.form-check-label(for='wifeT5013')
                                        input#wifeT5013.form-check-input(type='checkbox' name='wife.t5013.value')
                                        | T5013
                                .form-check
                                    label.form-check-label(for='wifeT5013Joint')
                                        input#wifeT5013Joint.form-check-input(type='checkbox' name='wife.t5013.joint')
                                        | Joint
                        .row
                            .form-group.col-3
                                label(for='wifeRental') Rental
                                .input-group.form-inline
                                    input#wifeRental.form-control(type='number' name='wife.rental.value')
                                    input#wifeRentalJoint.form-control(type='number' name='wife.rental.joint')
                            .form-check.gst
                                br
                                label.form-check-label(for='wifeRentalGST')
                                    input#wifeRentalGST.form-check-input(type='checkbox' name='wife.rental.gstReturn')
                                    | GST Rtn
                            .form-group.col-3
                                label(for='wifeSelfEmployed') Self Empl
                                .input-group.form-inline
                                    input#wifeSelfEmployed.form-control(type='number' name='wife.selfEmployed.value')
                                    input#wifeSelfEmployedJoint.form-control(type='number' name='wife.selfEmployed.joint')
                            .form-check.gst
                                br
                                label.form-check-label(for='wifeSelfEmployedGST')
                                    input#wifeSelfEmployedGST.form-check-input(type='checkbox' name='wife.selfEmployed.gstReturn')
                                    | GST Rtn
                            .group
                                br
                                .form-check
                                    label.form-check-label(for='wifeT4AP')
                                        input#wifeT4AP.form-check-input(type='checkbox' name='wife.t4AP.value')
                                        | T4A (P)
                                .form-check
                                    label.form-check-label(for='wifeSplit')
                                        input#wifeSplit.form-check-input(type='checkbox' name='wife.t4AP.split')
                                        | Split
                        .row
                            .form-group.col-3
                                label(for='wifeSupportReceived') Support PYT Rec'd
                                input#wifeSupportReceived.form-control(type='number' name='wife.supportReceived')
                            .form-check
                                br
                                label.form-check-label(for='wifeT4RSP')
                                    input#wifeT4RSP.form-check-input(type='checkbox' name='wife.t4RSP')
                                    | T4RSP / T4RIF
                            .form-check
                                br
                                label.form-check-label(for='wifeUCCB')
                                    input#wifeUCCB(type='checkbox' name='wife.uccb')
                                    | UCCB

        hr
        fieldset.form-group
            legend Calculation of Taxable Income
            .row
                .col-6
                    label.col-12 Husband
                    hr
                    .row
                        .form-group.col-3
                            label(for='husbandSupportMade') Support PYT Made
                            input#husbandSupportMade.form-control(type='number' name='husband.supportMade')
                        .group
                            br
                            .form-check
                                label.form-check-label(for='husbandRRSP')
                                    input#husbandRRSP.form-check-input(type='checkbox' name='husband.rrsp.value')
                                    | RRSP
                            .form-check
                                label.form-check-label(for='husbandRRSPSpouse')
                                    input#husbandRRSPSpouse.form-check-input(type='checkbox' name='husband.rrsp.spouse')
                                    | Spouse
                        .form-check
                            br
                            label.form-check-label(for='husbandHBP')
                                input#husbandHBP.form-check-input(type='checkbox' name='husband.hbp')
                                | HBP
                        .form-check
                            br
                            label.form-check-label(for='husbandMoving')
                                input#husbandMoving.form-check-input(type='checkbox' name='husband.moving')
                                | Moving
                        .form-check
                            br
                            label.form-check-label(for='husbandUnion')
                                input#husbandUnion.form-check-input(type='checkbox' name='husband.unionDue')
                                | Union Due
                    .row
                        .form-check
                            label.form-check-label(for='husbandDisability')
                                input#husbandDisability.form-check-input(type='checkbox' name='husband.disabilitySupports')
                                | Disability Supports
                        .form-check
                            label.form-check-label(for='husband777')
                                input#husband777.form-check-input(type='checkbox' name='husband.value777')
                                | 777 Exp
                .col-6
                    label.col-12 Wife
                    hr
                    .row
                        .form-group.col-3
                            label(for='wifeSupportMade') Support PYT Made
                            input#wifeSupportMade.form-control(type='number' name='wife.supportMade')
                        .group
                            br
                            .form-check
                                label.form-check-label(for='wifeRRSP')
                                    input#wifeRRSP.form-check-input(type='checkbox' name='wife.rrsp.value')
                                    | RRSP
                            .form-check
                                label.form-check-label(for='wifeRRSPSpouse')
                                    input#wifeRRSPSpouse.form-check-input(type='checkbox' name='wife.rrsp.spouse')
                                    | Spouse
                        .form-check
                            br
                            label.form-check-label(for='wifeHBP')
                                input#wifeHBP.form-check-input(type='checkbox' name='wife.hbp')
                                | HBP
                        .form-check
                            br
                            label.form-check-label(for='wifeMoving')
                                input#wifeMoving.form-check-input(type='checkbox' name='wife.moving')
                                | Moving
                        .form-check
                            br
                            label.form-check-label(for='wifeUnion')
                                input#wifeUnion.form-check-input(type='checkbox' name='wife.unionDue')
                                | Union Due
                    .row
                        .form-check
                            label.form-check-label(for='wifeDisability')
                                input#wifeDisability.form-check-input(type='checkbox' name='wife.disabilitySupports')
                                | Disability Supports
                        .form-check
                            label.form-check-label(for='wife777')
                                input#wife777.form-check-input(type='checkbox' name='wife.value777')
                                | 777 Exp
            br
            label Childcare
            .row
                .col-4
                    label(for='childcareName') Name
                    input#childcareName.form-control(type='text' name='childcare.name')
                .col-2
                    label(for='childcareAmount') Amount
                    input#childcareAmount.form-control(type='number' name='childcare.amount')
                .col-4
                    label(for='childcareSin') SIN
                    input#childcareSin.form-control.sin(type='text' name='childcare.sin')
                .form-check
                    br
                    label.form-check-label(for='carryingCharges')
                        input#carryingCharges.form-check-input(type='checkbox' name='carryingCharges')
                        | Carrying Charges

        hr
        fieldset.form-group
            legend Calculation of Total Non-Refundable Tax Credits
            .row
                .col-6
                    label.col-12 Husband
                    hr
                    .row
                        .form-group.col-4
                            label(for='husbandInstallation') Installation
                            input#husbandInstallation.form-control(type='number' name='husband.installation')
                        .form-check
                            br
                            label.form-check-label(for='husbandTuition')
                                input#husbandTuition.form-check-input(type='checkbox' name='husband.tuition')
                                | Tuition
                        .form-check
                            br
                            label.form-check-label(for='husbandStudentLoan')
                                input#husbandStudentLoan.form-check-input(type='checkbox' name='husband.studentLoan')
                                | Student Loan Int
                .col-6
                    label.col-12 Wife
                    hr
                    .row
                        .form-group.col-4
                            label(for='wifeInstallation') Installation
                            input#wifeInstallation.form-control(type='number' name='wife.installation')
                        .form-check
                            br
                            label.form-check-label(for='wifeTuition')
                                input#wifeTuition.form-check-input(type='checkbox' name='wife.tuition')
                                | Tuition
                        .form-check
                            br
                            label.form-check-label(for='wifeStudentLoan')
                                input#wifeStudentLoan.form-check-input(type='checkbox' name='wife.studentLoan')
                                | Student Loan Int
            .row
                .col-6
                    label Caregiver
                    .row
                        .col-6
                            label(for='caregiverName1') Name
                            input#caregiverName1.form-control(type='text' name='caregiver1.name')
                        .col-6
                            label(for='caregiverAmount1') Amount
                            input#caregiverAmount1.form-control(type='number' name='caregiver1.amount')
                    .row
                        .col-6
                            label(for='caregiverName2') Name
                            input#caregiverName2.form-control(type='text' name='caregiver2.name')
                        .col-6
                            label(for='caregiverAmount2') Amount
                            input#caregiverAmount2.form-control(type='number' name='caregiver2.amount')
                .col-6
                    label Dependent
                    .row
                        .col-6
                            label(for='dependentName1') Name
                            input#dependentName1.form-control(type='text' name='dependentTuition1.name')
                        .col-6
                            label(for='dependentAmount1') Amount
                            input#dependentAmount1.form-control(type='number' name='dependentTuition1.amount')
                    .row
                        .col-6
                            label(for='dependentName2') Name
                            input#dependentName2.form-control(type='text' name='dependentTuition2.name')
                        .col-6
                            label(for='dependentAmount2') Amount
                            input#dependentAmount2.form-control(type='number' name='dependentTuition2.amount')
            br
            .row
                .col-2
                    .form-check
                        label.form-check-label(for='donation')
                            input#donation.form-check-input(type='checkbox' name='donation')
                            | Donation
                    .form-check
                        label.form-check-label(for='medExp')
                            input#medExp.form-check-input(type='checkbox' name='medExp')
                            | Med Exp
                    .form-check
                        label.form-check-label(for='hbtc')
                            input#hbtc.form-check-input(type='checkbox' name='hbtc')
                            | HBTC
                .col-10
                    .form-check
                        label.form-check-label(for='disability')
                            input#disability.form-check-input(type='checkbox' name='disability')
                            | Disability (Dependent)
                    .form-check
                        label.form-check-label(for='t2201')
                            input#t2201.form-check-input(type='checkbox' name='t2201')
                            | T2201
                    .form-check
                        label.form-check-label(for='equiv')
                            input#equiv.form-check-input(type='checkbox' name='equiv')
                            | Equiv To Spouse
        hr

        fieldset.form-group
            legend Notes
            .row
                .form-group.col-12
                    textarea#notes1.form-control(rows='5' name='notes.one')
                .form-group.col-12
                    textarea#notes2.form-control(rows='5' name='notes.two')
                .form-group.col-12
                    textarea#notes3.form-control(rows='5' name='notes.three')
            legend Comments
            .row
                .form-group.col-12
                    textarea#comments1.form-control(rows='5' name='comments.one')
                .form-group.col-12
                    textarea#comments2.form-control(rows='5' name='comments.two')
                .form-group.col-12
                    textarea#comments3.form-control(rows='5' name='comments.three')
            .row
                .col-4
                    .form-check
                        label.form-check-label(for='witb')
                            input#witb.form-check-input(type='checkbox' name='witb')
                            | No WITB
                    .form-check
                        label.form-check-label(for='ctb')
                            input#ctb.form-check-input(type='checkbox' name='ctb')
                            | No CTB
                    .form-check
                        label.form-check-label(for='gst')
                            input#gst.form-check-input(type='checkbox' name='gst')
                            | No GST
                    .form-check
                        label.form-check-label(for='prov')
                            input#prov.form-check-input(type='checkbox' name='prov')
                            | No PROV
                    .form-check
                        label.form-check-label(for='msp')
                            input#msp.form-check-input(type='checkbox' name='msp')
                            | Apply MSP Assist
                .col-8
                    .form-group
                        label(for='consult') Consult Fee
                        input#consult.form-control(type='number' name='consultFee')
                    .form-group
                        label(for='price') Price Quoted
                        input#price.form-control(type='number' name='price')

        br
        input.btn.btn-success.offset-1.col-10(type='submit' value='Done')
    br
    br