doctype
html

  head
    title BLCL
    script(type="text/javascript" src='/js/jquery/jquery-3.1.1.min.js')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/stylesheet.css')

  body
    .container-fluid
      .row
        .col-xs-2.sidebar
          block sidebar
        .col-xs-offset-2.col-xs-10
          nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
              ul
                li
                  a(href="/") T1
                li
                  a(href="/t2") T2
                li
                  a(href="/t4") T4
                li
                  a(href="/t5") T5
          .content
            block content

          hr
          footer
            p BLCL Workflow Management - Anders Leung

    script(type="text/javascript" src='/js/bootstrap/bootstrap.min.js')
    script(type="text/javascript" src='/js/bootstrap-formhelpers.min.js')
    script(type="text/javascript" src='/js/clickable_rows.js')