body {
    margin-top: 50px;
    font-weight: bold;
}

.navbar {
	background-color: rgb(0, 43, 93);
	color: white;
}

.navbar-brand {
    color: white;
    padding-right: 5%;
}

.navbar li a {
    color: white;
}

.navbar .dropdown-menu {
    background-color: rgb(0, 43, 93);
    border-radius: 5px;
}

.navbar .dropdown-item:hover {
    color: white;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: rgb(1, 82, 177);
    border-radius: 5px;
}

.clickable-row:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

/* table stuff */
input, td {
    text-transform: uppercase;
}

.header {
    background-color: white;
}

label {
    display: block;
    padding: 10px 25px 10px 15px;
    margin: -10px -20px -10px -10px;
}

input, textarea {
    font-weight: bold;
}

.highlight {
    background-color: #66afe9;
}
/*
.divider{
    border-left:1px solid black;
}
*/

.husband {
    border-right: 1px solid #e5e5e5;
}

.section {
    padding: 1% 0 1% 0;
    border-top: 1px solid #c9c9c9;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin: 0 10px;
}

.form-check {
    margin-right: 10px;
}

.group label {
    margin-bottom: -20px;
}

.group-joint .form-group:first-child {
    /*margin: 0 -30px 0 0;*/
    margin-right: -30px;
}

.status {
    margin-left: 30px;
}

.gst {
    margin-left: -15px;
}

tfoot input {
    width: 100%;
}

#content {
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
}

#table {
    padding: 1%;
    border: 1px solid #dddddd;
}