//
   Created by ander on 2017-05-17.

extends ../layout

block content

    script(type="text/javascript").
        var client = !{JSON.stringify(client)};
        var options = !{JSON.stringify(options)};
        var newClient = !{JSON.stringify(newClient)};
    script(src='/js/t1/client.js')
    link(rel='stylesheet', href='/css/client.css')
    link(rel='stylesheet', href='/css/jquery.onepage-scroll-0.0.1.min.css')
    script(src='/js/jquery.onepage-scroll-0.0.1.min.js')
    script(src="/js/jquery/jquery.easing.min.js")

    .scroll-container
        h1=title
        br
        form(method='post')
            #general-info.content-part(data-title='General Info')
                .content-inner
                    fieldset.form-group
                        .section
                            legend General Info
                            .row
                                .form-group.col-2
                                    label(for='year') Year
                                    input#year.form-control(type='number' name='year' required)
                                .form-group.col-2
                                    label(for='interviewer') Interviewer
                                    select#interviewer.initials.form-control(name='interviewer')
                                .form-group.col-2
                                    label(for='interviewDate') Interview Date
                                    input#interviewDate.form-control.datepicker(type='text' name='interviewDate' required)
                                .form-group.col-2
                                    label(for='method') Drop or Email
                                    select#method.form-control(name='method')
                            .row
                                .form-group.col-2
                                    label(for='tel') Telephone
                                    input#tel.form-control.phone(type='text' name='tel[number]')
                                    .checkbox
                                        label(for='newTel')
                                            input#newTel(type='checkbox' name='tel[check]')
                                            | New Telephone
                                .form-group.col-2
                                    label(for='cell') Cell 1
                                    input#cell1.form-control.phone(type='text' name='cell[number][0]')
                                    .checkbox
                                        label(for='newCell')
                                            input#newCell(type='checkbox' name='cell[check]')
                                            | New Cell
                                .form-group.col-2
                                    label(for='cell') Cell 2
                                    input#cell2.form-control.phone(type='text' name='cell[number][1]')
                            .row
                                .form-group.col-8
                                    label(for='email') Email
                                    input#email.form-control(type='email' name='email[value]')
                                    .checkbox
                                        label(for='newEmail')
                                            input#newEmail(type='checkbox' name='email[check]')
                                            | New Email
                            .row
                                .form-group.col-12
                                    label Address
                                    .row
                                        .col-1
                                            label(for='apartment') Unit
                                            input#apartment.form-control(type='text' name='address[apartment]')
                                        .col-3
                                            label(for='street') Street
                                            input#street.form-control(type='text' name='address[street]' required)
                                        .col-2
                                            label(for='city') City
                                            input#city.form-control(type='text' name='address[city]' required)
                                        .col-1
                                            label(for='province') Province
                                            input#province.form-control(type='text' name='address[province]' value='BC' required)
                                        .col-2
                                            label(for='postalCode') Postal Code
                                            input.postalCode.form-control(type='text' name='address[postalCode]' required)
                                        .checkbox.col-12
                                            label(for='newAddress')
                                                input#newAddress(type='checkbox' name='address[check]')
                                                | New Address
            #husband.content-part(data-title='Husband')
                .content-inner
                    .form-group
                        .section
                            legend Husband
                            .row
                                .col-2
                                    label(for='husbandFirstName') First Name
                                    input#husbandFirstName.form-control(type='text' name='husband[firstName]')
                                .col-2
                                    label(for='husbandLastName') Last Name
                                    input#husbandLastName.form-control(type='text' name='husband[lastName]')
                                .col-2
                                    label(for='husbandDob') Date of Birth
                                    input#husbandDob.form-control.datepickerChangeYear(type='text' name='husband[dateOfBirth]')
                                .col-2
                                    label(for='husbandSin') SIN
                                    input#husbandSin.form-control.sin(type='text' name='husband[sin]')
                            .group-joint
                                .row
                                    .form-group.col-2
                                        label(for='husbandDepartureWhich') Departure/Land
                                        select#husbandDepartureWhich.form-control(name='husband[departure][which]')
                                            option  
                                            option DECEASED
                                            option DEPARTURE
                                            option LAND
                                    .form-group.col-2
                                        label(for='husbandDeparture') Date
                                        input#husbandDeparture.form-control.datepickerChangeYear(type='text' name='husband[departure][value]')
                                    .col-2.status
                                        label(for='husbandStatus') Status
                                        input#husbandStatus.form-control(type='text' name='husband[status]')
                                    .form-check
                                        br
                                        input#husbandCitizenship.form-check-input(type='checkbox' name='husband[citizenship]')
                                        label.form-check-label(for='husbandCitizenship') Citizen
                                    .form-check
                                        br
                                        input#husbandElection.form-check-input(type='checkbox' name='husband[election]')
                                        label.form-check-label(for='husbandElection') Election
                                    .form-check
                                        br
                                        input#husbandNoa.form-check-input(type='checkbox' name='husband[noa]')
                                        label.form-check-label(for='husbandNoa') NOA
                    #wife.content-part(data-title='Wife')
                        .content-inner
                            legend Wife
                            .row
                                .col-2
                                    label(for='wifeFirstName') First Name
                                    input#wifeFirstName.form-control(type='text' name='wife[firstName]')
                                .col-2
                                    label(for='wifeLastName') Last Name
                                    input#wifeLastName.form-control(type='text' name='wife[lastName]')
                                .col-2
                                    label(for='wifeDob') Date of Birth
                                    input#wifeDob.form-control.datepickerChangeYear(type='text' name='wife[dateOfBirth]')
                                .col-2
                                    label(for='wifeSin') SIN
                                    input#wifeSin.form-control.sin(type='text' name='wife[sin]')
                            .group-joint
                                .row
                                    .form-group.col-2
                                        label(for='wifeDepartureWhich') Departure/Land
                                        select#wifeDepartureWhich.form-control(name='wife[departure][which]')
                                            option  
                                            option DECEASED
                                            option DEPARTURE
                                            option LAND
                                    .form-group.col-2
                                        label(for='wifeDeparture') Date
                                        input#wifeDeparture.form-control.datepickerChangeYear(type='text' name='wife[departure][value]')
                                    .form-group.col-2.status
                                        label(for='wifeStatus') Status
                                        input#wifeStatus.form-control(type='text' name='wife[status]')
                                    .form-check
                                        br
                                        input#wifeCitizenship.form-check-input(type='checkbox' name='wife[citizenship]')
                                        label.form-check-label(for='wifeCitizenship') Citizen
                                    .form-check
                                        br
                                        input#wifeElection.form-check-input(type='checkbox' name='wife[election]')
                                        label.form-check-label(for='wifeElection') Election
                                    .form-check
                                        br
                                        input#wifeNoa.form-check-input(type='checkbox' name='wife[noa]')
                                        label.form-check-label(for='wifeNoa') NOA

                    #dependents.content-part(data-title='Dependents')
                        .content-inner
                            .section
                            legend Dependents
                            .row
                                .col-4
                                    label(for='dependent1') Name
                                    input#dependent1.form-control(type='text' name='dependent1[name]')
                                .col-2
                                    label(for='relationship1') Relationship
                                    select#relationship1.form-control(name='dependent1[relationship]')
                                .col-2
                                    label(for='dob1') Date of Birth
                                    input#dob1.form-control.datepickerChangeYear(type='text' name='dependent1[dateOfBirth]')
                                .col-2
                                    label(for='sin1') SIN
                                    input#sin1.form-control.sin(type='text' name='dependent1[sin]')
                            .row
                                .col-4
                                    label(for='dependent2') Name
                                    input#dependent2.form-control(type='text' name='dependent2[name]')
                                .col-2
                                    label(for='relationship2') Relationship
                                    select#relationship2.form-control(name='dependent2[relationship]')
                                .col-2
                                    label(for='dob2') Date of Birth
                                    input#dob2.form-control.datepickerChangeYear(type='text' name='dependent2[dateOfBirth]')
                                .col-2
                                    label(for='sin2') SIN
                                    input#sin2.form-control.sin(type='text' name='dependent2[sin]')
                            .row
                                .col-4
                                    label(for='dependent3') Name
                                    input#dependent3.form-control(type='text' name='dependent3[name]')
                                .col-2
                                    label(for='relationship3') Relationship
                                    select#relationship3.form-control(name='dependent3[relationship]')
                                .col-2
                                    label(for='dob3') Date of Birth
                                    input#dob3.form-control.datepickerChangeYear(type='text' name='dependent3[dateOfBirth]')
                                .col-2
                                    label(for='sin3') SIN
                                    input#sin3.form-control.sin(type='text' name='dependent3[sin]')

            #calculation-of-total-income.content-part(data-title='Calculation of Total Income')
                .content-inner
                    fieldset.form-group
                        .section
                            legend Calculation of Total Income
                            .row
                                .col-6.husband
                                    label.col-12 Husband
                                    hr
                                    .row
                                        .group
                                            .form-check
                                                input#husbandT5.form-check-input(type='checkbox' name='husband[t5][value]')
                                                label.form-check-label(for='husbandT5') T5 (CAD)
                                            .form-check
                                                input#husbandT5Joint.form-check-input(type='checkbox' name='husband[t5][joint]')
                                                label.form-check-label(for='husbandT5Joint') Joint
                                            .form-check
                                                input#husbandT5Blcl.form-check-input(type='checkbox' name='husband[t5][blcl]')
                                                label.form-check-label(for='husbandT5Blcl') BLCL
                                        .group
                                            .form-check
                                                input#husbandT5Other.form-check-input(type='checkbox' name='husband[t5Other][value]')
                                                label.form-check-label(for='husbandT5Other') T5 (Other currency)
                                            .form-check
                                                input#husbandT5OtherJoint.form-check-input(type='checkbox' name='husband[t5Other][joint]')
                                                label.form-check-label(for='husbandT5OtherJoint') Joint
                                        .group
                                            .form-check
                                                input#husbandT3.form-check-input(type='checkbox' name='husband[t3][value]')
                                                label.form-check-label(for='husbandT3') T3
                                            .form-check
                                                input#husbandT3Joint.form-check-input(type='checkbox' name='husband[t3][joint]')
                                                label.form-check-label(for='husbandT3Joint') Joint
                                    br
                                    .row
                                        .group
                                            .form-check
                                                input#husbandT4.form-check-input(type='checkbox' name='husband[t4][value]')
                                                label.form-check-label(for='husbandT4') T4
                                            .form-check
                                                input#husbandT4Blcl.form-check-input(type='checkbox' name='husband[t4][blcl]')
                                                label.form-check-label(for='husbandT4Blcl') BLCL
                                        .group
                                            .form-check
                                                input#husbandT4A.form-check-input(type='checkbox' name='husband[t4A][value]')
                                                label.form-check-label(for='husbandT4A') T4A
                                            .form-check
                                                input#husbandT4ABlcl.form-check-input(type='checkbox' name='husband[t4A][blcl]')
                                                label.form-check-label(for='husbandT4ABlcl') BLCL
                                        .form-check
                                            input#husbandT5007.form-check-input(type='checkbox' name='husband[t5007]')
                                            label.form-check-label(for='husbandT5007') T5007
                                        .form-check
                                            input#husbandT4AOAS.form-check-input(type='checkbox' name='husband[t4AOAS')
                                            label.form-check-label(for='husbandT4AOAS') T4A (OAS)
                                    br
                                    .row
                                        .group
                                            .form-check
                                                input#husbandT5013.form-check-input(type='checkbox' name='husband[t5013][value]')
                                                label.form-check-label(for='husbandT5013') T5013
                                            .form-check
                                                input#husbandT5013Joint.form-check-input(type='checkbox' name='husband[t5013][joint]')
                                                label.form-check-label(for='husbandT5013Joint') Joint
                                        .group
                                            .form-check
                                                input#husbandT5008.form-check-input(type='checkbox' name='husband[t5008][value]')
                                                label.form-check-label(for='husbandT5008') T5008 / S3
                                            .form-check
                                                input#husbandT5008Joint.form-check-input(type='checkbox' name='husband[t5008][joint]')
                                                label.form-check-label(for='husbandT5008Joint') Joint
                                        .group
                                            .form-check
                                                input#husbandT4AP.form-check-input(type='checkbox' name='husband[t4AP][value]')
                                                label.form-check-label(for='husbandT4AP') T4A (P)
                                            .form-check
                                                input#husbandSplit.form-check-input(type='checkbox' name='husband[t4AP][split]')
                                                label.form-check-label(for='husbandSplit') Split
                                    br
                                    .row
                                        .form-check
                                            input#husbandT4RSP.form-check-input(type='checkbox' name='husband[t4RSP]')
                                            label.form-check-label(for='husbandT4RSP') T4RSP / T4RIF
                                        .form-check
                                            input#husbandT4E.form-check-input(type='checkbox' name='husband[t4E]')
                                            label.form-check-label(for='husbandT4E') T4E
                                        .form-check
                                            input#husbandUCCB.form-check-input(type='checkbox' name='husband[uccb]')
                                            label.form-check-label(for='husbandUCCB') UCCB
                                    br
                                    label Other Income
                                    .row
                                        .form-group.col-3
                                            label(for='husband104') 104
                                            input#husband104.form-control(type='number' name='husband[otherIncome][value104]')
                                        .form-group.col-3
                                            label(for='husband130') 130
                                            input#husband130.form-control(type='number' name='husband[otherIncome[value130]')
                                    label Foreign Income
                                    .row
                                        .form-group.col-6
                                            label(for='husbandDiv') Div & Int
                                            .input-group.form-inline
                                                input#husbandDivCurrency.col-6.form-control(type='text' name='husband[foreignIncome][div][currency]')
                                                input#husbandDiv.form-control(type='number' name='husband[foreignIncome][div][value]')
                                    .row
                                        .form-group.col-6
                                            label(for='husbandEmpl') Empl
                                            .input-group.form-inline
                                                input#husbandEmplCurrency.col-6.form-control(type='text' name='husband[foreignIncome][empl][currency]')
                                                input#husbandEmpl.form-control(type='number' name='husband[foreignIncome][empl][value]')
                                        .form-group.col-4
                                            label(for='husbandCountry') Country
                                            input#husbandCountry.form-control(type='text' name='husband[foreignIncome][country]')
                                    br
                                    .group-joint
                                        .row
                                            .form-group.col-3
                                                label(for='husbandRental') Rental
                                                input#husbandRental.form-control(type='number' name='husband[rental][value]')
                                            .form-group.col-3
                                                label(for='husbandRentalJoint') Joint
                                                input#husbandRentalJoint.form-control(type='number' name='husband[rental][joint]')
                                            .form-check.gst
                                                br
                                                input#husbandRentalGST.form-check-input(type='checkbox' name='husband[rental][gstReturn]')
                                                label.form-check-label(for='husbandRentalGST') GST Rtn
                                    .group-joint
                                        .row
                                            .form-group.col-3
                                                label(for='husbandSelfEmployed') Self Empl
                                                input#husbandSelfEmployed.form-control(type='number' name='husband[selfEmployed][value]')
                                            .form-group.col-3
                                                label(for='husbandSelfEmployedJoint') Joint
                                                input#husbandSelfEmployedJoint.form-control(type='number' name='husband[selfEmployed][joint]')
                                            .form-check.gst
                                                br
                                                input#husbandSelfEmployedGST.form-check-input(type='checkbox' name='husband[selfEmployed][gstReturn]')
                                                label.form-check-label(for='husbandSelfEmployedGST') GST Rtn
                                    .row
                                        .form-group.col-4
                                            label(for='husbandSupportReceived') Support PYT Rec'd
                                            input#husbandSupportReceived.form-control(type='number' name='husband[supportReceived]')
                                .col-6
                                    label.col-12 Wife
                                        hr
                                        .row
                                            .group
                                                .form-check
                                                    input#wifeT5.form-check-input(type='checkbox' name='wife[t5][value]')
                                                    label.form-check-label(for='wifeT5') T5 (CAD)
                                                .form-check
                                                    input#wifeT5Joint.form-check-input(type='checkbox' name='wife[t5][joint]')
                                                    label.form-check-label(for='wifeT5Joint') Joint
                                                .form-check
                                                    input#wifeT5Blcl.form-check-input(type='checkbox' name='wife[t5][blcl]')
                                                    label.form-check-label(for='wifeT5Blcl') BLCL
                                            .group
                                                .form-check
                                                    input#wifeT5Other.form-check-input(type='checkbox' name='wife[t5Other][value]')
                                                    label.form-check-label(for='wifeT5Other') T5 (Other currency)
                                                .form-check
                                                    input#wifeT5OtherJoint.form-check-input(type='checkbox' name='wife[t5Other][joint]')
                                                    label.form-check-label(for='wifeT5OtherJoint') Joint
                                            .group
                                                .form-check
                                                    input#wifeT3.form-check-input(type='checkbox' name='wife[t3][value]')
                                                    label.form-check-label(for='wifeT3') T3
                                                .form-check
                                                    input#wifeT3Joint.form-check-input(type='checkbox' name='wife[t3][joint]')
                                                    label.form-check-label(for='wifeT3Joint') Joint
                                        br
                                        .row
                                            .group
                                                .form-check
                                                    input#wifeT4.form-check-input(type='checkbox' name='wife[t4][value]')
                                                    label.form-check-label(for='wifeT4') T4
                                                .form-check
                                                    input#wifeT4Blcl.form-check-input(type='checkbox' name='wife[t4][blcl]')
                                                    label.form-check-label(for='wifeT4Blcl') BLCL
                                            .group
                                                .form-check
                                                    input#wifeT4A.form-check-input(type='checkbox' name='wife[t4A][value]')
                                                    label.form-check-label(for='wifeT4A') T4A
                                                .form-check
                                                    input#wifeT4ABlcl.form-check-input(type='checkbox' name='wife[t4A][blcl]')
                                                    label.form-check-label(for='wifeT4ABlcl') BLCL
                                            .form-check
                                                input#wifeT5007.form-check-input(type='checkbox' name='wife[t5007]')
                                                label.form-check-label(for='wifeT5007') T5007
                                            .form-check
                                                input#wifeT4AOAS.form-check-input(type='checkbox' name='wife[t4AOAS]')
                                                label.form-check-label(for='wifeT4AOAS') T4A (OAS)
                                        br
                                        .row
                                            .group
                                                .form-check
                                                    input#wifeT5013.form-check-input(type='checkbox' name='wife[t5013][value]')
                                                    label.form-check-label(for='wifeT5013') T5013
                                                .form-check
                                                    input#wifeT5013Joint.form-check-input(type='checkbox' name='wife[t5013][joint]')
                                                    label.form-check-label(for='wifeT5013Joint') Joint
                                            .group
                                                .form-check
                                                    input#wifeT5008.form-check-input(type='checkbox' name='wife[t5008][value]')
                                                    label.form-check-label(for='wifeT5008') T5008 / S3
                                                .form-check
                                                    input#wifeT5008Joint.form-check-input(type='checkbox' name='wife[t5008][joint]')
                                                    label.form-check-label(for='wifeT5008Joint') Joint
                                            .group
                                                .form-check
                                                    input#wifeT4AP.form-check-input(type='checkbox' name='wife[t4AP][value]')
                                                    label.form-check-label(for='wifeT4AP') T4A (P)
                                                .form-check
                                                    input#wifeSplit.form-check-input(type='checkbox' name='wife[t4AP][split]')
                                                    label.form-check-label(for='wifeSplit') Split
                                        .row
                                            .form-check
                                                br
                                                input#wifeT4RSP.form-check-input(type='checkbox' name='wife[t4RSP]')
                                                label.form-check-label(for='wifeT4RSP') T4RSP / T4RIF
                                            .form-check
                                                br
                                                input#wifeT4E.form-check-input(type='checkbox' name='wife[t4E]')
                                                label.form-check-label(for='wifeT4E') T4E
                                            .form-check
                                                br
                                                input#wifeUCCB.form-check-input(type='checkbox' name='wife[uccb]')
                                                label.form-check-label(for='wifeUCCB') UCCB
                                        br
                                        label Other Income
                                        .row
                                            .form-group.col-3
                                                label(for='wife104') 104
                                                input#wife104.form-control(type='number' name='wife[otherIncome][value104]')
                                            .form-group.col-3
                                                label(for='wife130') 130
                                                input#wife130.form-control(type='number' name='wife[otherIncome][value130]')
                                        label Foreign Income
                                        .row
                                            .form-group.col-6
                                                label(for='wifeDiv') Div & Int
                                                .input-group.form-inline
                                                    input#wifeDivCurrency.col-6.form-control(type='text' name='wife[foreignIncome][div][currency]')
                                                    input#wifeDiv.form-control(type='number' name='wife[foreignIncome][div][value]')
                                        .row
                                            .form-group.col-6
                                                label(for='wifeEmpl') Empl
                                                .input-group.form-inline
                                                    input#wifeEmplCurrency.col-6.form-control(type='text' name='wife[foreignIncome][empl][currency]')
                                                    input#wifeEmpl.form-control(type='number' name='wife[foreignIncome][empl][value]')
                                            .form-group.col-4
                                                label(for='wifeCountry') Country
                                                input#wifeCountry.form-control(type='text' name='wife[foreignIncome][country]')
                                        .group-joint
                                            .row
                                                .form-group.col-3
                                                    label(for='wifeRental') Rental
                                                    input#wifeRental.form-control(type='number' name='wife[rental][value]')
                                                .form-group.col-3
                                                    label(for='wifeRentalJoint') Joint
                                                    input#wifeRentalJoint.form-control(type='number' name='wife[rental][joint]')
                                                .form-check.gst
                                                    br
                                                    input#wifeRentalGST.form-check-input(type='checkbox' name='wife[rental][gstReturn]')
                                                    label.form-check-label(for='wifeRentalGST') GST Rtn
                                        .group-joint
                                            .row
                                                .form-group.col-3
                                                    label(for='wifeSelfEmployed') Self Empl
                                                    input#wifeSelfEmployed.form-control(type='number' name='wife[selfEmployed][value]')
                                                .form-group.col-3
                                                    label(for='wifeSelfEmployedJoint') Joint
                                                    input#wifeSelfEmployedJoint.form-control(type='number' name='wife[selfEmployed][joint]')
                                                .form-check.gst
                                                    br
                                                    input#wifeSelfEmployedGST.form-check-input(type='checkbox' name='wife[selfEmployed][gstReturn]')
                                                    label.form-check-label(for='wifeSelfEmployedGST') GST Rtn
                                        .row
                                            .form-group.col-4
                                                label(for='wifeSupportReceived') Support PYT Rec'd
                                                input#wifeSupportReceived.form-control(type='number' name='wife[supportReceived]')

            #calculation-of-taxable-income.content-part(data-title='Calculation of Taxable Income')
                .content-inner
                    fieldset.form-group
                        .section
                            legend Calculation of Taxable Income
                            .row
                                .col-6.husband
                                    label.col-12 Husband
                                    hr
                                    .row
                                        .form-group.col-4
                                            label(for='husbandSupportMade') Support PYT Made
                                            input#husbandSupportMade.form-control(type='number' name='husband[supportMade]')
                                        .group
                                            br
                                            .form-check
                                                input#husbandRRSP.form-check-input(type='checkbox' name='husband[rrsp][value]')
                                                label.form-check-label(for='husbandRRSP') RRSP
                                            .form-check
                                                input#husbandRRSPSpouse.form-check-input(type='checkbox' name='husband[rrsp][spouse]')
                                                label.form-check-label(for='husbandRRSPSpouse') Spouse
                                        .form-check
                                            br
                                            input#husbandHBP.form-check-input(type='checkbox' name='husband[hbp]')
                                            label.form-check-label(for='husbandHBP') HBP
                                        .form-check
                                            br
                                            input#husbandMoving.form-check-input(type='checkbox' name='husband[moving]')
                                            label.form-check-label(for='husbandMoving') Moving
                                    br
                                    .row
                                        .form-check
                                            input#husbandUnion.form-check-input(type='checkbox' name='husband[unionDue]')
                                            label.form-check-label(for='husbandUnion') Union Due
                                        .form-check
                                            input#husbandDisability.form-check-input(type='checkbox' name='husband[disabilitySupports]')
                                            label.form-check-label(for='husbandDisability') Disability Supports
                                        .form-check
                                            input#husband777.form-check-input(type='checkbox' name='husband[value777]')
                                            label.form-check-label(for='husband777') 777 Exp
                                .col-6
                                    label.col-12 Wife
                                    hr
                                    .row
                                        .form-group.col-4
                                            label(for='wifeSupportMade') Support PYT Made
                                            input#wifeSupportMade.form-control(type='number' name='wife[supportMade]')
                                        .group
                                            br
                                            .form-check
                                                input#wifeRRSP.form-check-input(type='checkbox' name='wife[rrsp][value]')
                                                label.form-check-label(for='wifeRRSP') RRSP
                                            .form-check
                                                input#wifeRRSPSpouse.form-check-input(type='checkbox' name='wife[rrsp][spouse]')
                                                label.form-check-label(for='wifeRRSPSpouse') Spouse
                                        .form-check
                                            br
                                            input#wifeHBP.form-check-input(type='checkbox' name='wife[hbp]')
                                            label.form-check-label(for='wifeHBP') HBP
                                        .form-check
                                            br
                                            input#wifeMoving.form-check-input(type='checkbox' name='wife[moving]')
                                            label.form-check-label(for='wifeMoving') Moving
                                    br
                                    .row
                                        .form-check
                                            input#wifeUnion.form-check-input(type='checkbox' name='wife[unionDue]')
                                            label.form-check-label(for='wifeUnion') Union Due
                                        .form-check
                                            input#wifeDisability.form-check-input(type='checkbox' name='wife[disabilitySupports]')
                                            label.form-check-label(for='wifeDisability') Disability Supports
                                        .form-check
                                            input#wife777.form-check-input(type='checkbox' name='wife[value777]')
                                            label.form-check-label(for='wife777') 777 Exp
                label Childcare
                .row
                    .col-4
                        label(for='childcareName') Name
                        input#childcareName.form-control(type='text' name='childcare[name]')
                    .col-2
                        label(for='childcareAmount') Amount
                        input#childcareAmount.form-control(type='number' name='childcare[amount]')
                    .col-4
                        label(for='childcareSin') SIN
                        input#childcareSin.form-control.sin(type='text' name='childcare[sin]')
                    .form-check
                        br
                        input#carryingCharges.form-check-input(type='checkbox' name='carryingCharges')
                        label.form-check-label(for='carryingCharges') Carrying Charges

            #calculation-of-total-non-refundable-tax-credits.content-part(data-title='Calculation of Total Non-Refuncable Tax Credits')
                .content-inner
                    fieldset.form-group
                        .section
                            legend Calculation of Total Non-Refundable Tax Credits
                            .row
                                .col-6.husband
                                    label.col-12 Husband
                                    hr
                                    .row
                                        .form-group.col-4
                                            label(for='husbandInstallment') Installment
                                            input#husbandInstallment.form-control(type='number' name='husband[installment]')
                                        .form-check
                                            br
                                            input#husbandTuition.form-check-input(type='checkbox' name='husband[tuition]')
                                            label.form-check-label(for='husbandTuition') Tuition
                                        .form-check
                                            br
                                            input#husbandStudentLoan.form-check-input(type='checkbox' name='husband[studentLoan]')
                                            label.form-check-label(for='husbandStudentLoan') Student Loan Int
                                .col-6
                                    label.col-12 Wife
                                    hr
                                    .row
                                        .form-group.col-4
                                            label(for='wifeInstallment') Installment
                                            input#wifeInstallment.form-control(type='number' name='wife[installment]')
                                        .form-check
                                            br
                                            input#wifeTuition.form-check-input(type='checkbox' name='wife[tuition]')
                                            label.form-check-label(for='wifeTuition') Tuition
                                        .form-check
                                            br
                                            input#wifeStudentLoan.form-check-input(type='checkbox' name='wife[studentLoan]')
                                            label.form-check-label(for='wifeStudentLoan') Student Loan Int
                            .row
                                .col-6
                                    label Caregiver
                                    .row
                                        .col-6
                                            label(for='caregiverName1') Name
                                            input#caregiverName1.form-control(type='text' name='caregiver1[name]')
                                        .col-6
                                            label(for='caregiverAmount1') Net Income (Line 236)
                                            input#caregiverAmount1.form-control(type='number' name='caregiver1[amount]')
                                    .row
                                        .col-6
                                            label(for='caregiverName2') Name
                                            input#caregiverName2.form-control(type='text' name='caregiver2[name]')
                                        .col-6
                                            label(for='caregiverAmount2') Net Income (Line 236)
                                            input#caregiverAmount2.form-control(type='number' name='caregiver2[amount]')
                                    label Dependent
                                    .row
                                        .col-6
                                            label(for='dependentName1') Name
                                            input#dependentName1.form-control(type='text' name='dependentTuition1[name]')
                                        .col-6
                                            label(for='dependentAmount1') Net Income (Line 236)
                                            input#dependentAmount1.form-control(type='number' name='dependentTuition1[amount]')
                                    .row
                                        .col-6
                                            label(for='dependentName2') Name
                                            input#dependentName2.form-control(type='text' name='dependentTuition2[name]')
                                        .col-6
                                            label(for='dependentAmount2') Net Income (Line 236)
                                            input#dependentAmount2.form-control(type='number' name='dependentTuition2[amount]')
                                .col-6
                                    .row
                                        .form-group.col-6
                                            label.red(for='donation') Donation
                                            select#donation.form-control(name='donation' required)
                                                option
                                                option N
                                                option Y
                                        .form-group.col-6
                                            label.red(for='medExp') Med Exp
                                            select#medExp.form-control(name='medExp' required)
                                                option
                                                option N
                                                option Y
                                    .row
                                        .form-check
                                            input#art.form-check-input(type='checkbox' name='art')
                                            label.form-check-label(for='art') Art
                                        .form-check
                                            input#fitness.form-check-input(type='checkbox' name='fitness')
                                            label.form-check-label(for='fitness') Fitness
                                        .form-check
                                            input#publicTransit.form-check-input(type='checkbox' name='publicTransit')
                                            label.form-check-label(for='publicTransit') Public Transit
                                        .form-check
                                            input#hbtc.form-check-input(type='checkbox' name='hbtc')
                                            label.form-check-label(for='hbtc') HBTC (home buyer tax cr)
                                        .form-check
                                            input#disability.form-check-input(type='checkbox' name='disability')
                                            label.form-check-label(for='disability') Disability (Dependent)
                                        .form-check
                                            input#t2201.form-check-input(type='checkbox' name='t2201')
                                            label.form-check-label(for='t2201') T2201
                                        .form-check
                                            input#equiv.form-check-input(type='checkbox' name='equiv')
                                            label.form-check-label(for='equiv') Equiv To Spouse
                                    .row
                                        .form-check
                                            input#teachingSupplies.form-check-input(type='checkbox' name='teachingSupplies')
                                            label.form-check-label(for='teachingSupplies') Teaching Supplies
                                        .form-check
                                            input#homeAccessibilities.form-check-input(type='checkbox' name='homeAccessibilities')
                                            label.form-check-label(for='homeAccessibilities') Home Accessibilities

            fieldset.form-group
                .section
                    #notes.content-part(data-title='Notes')
                        .content-inner
                            legend Notes (current year info - delete old info if no use)
                            .row
                                .form-group.col-8
                                    input#notes1.form-control(type='text' name='notes[one]')
                                .form-group.col-8
                                    input#notes2.form-control(type='text' name='notes[two]')
                                .form-group.col-8
                                    input#notes3.form-control(type='text' name='notes[three]')
                    #comments.content-part(data-title='Comments')
                        .content-inner
                            legend Comments (info B/F from past years)
                            .row
                                .form-group.col-8
                                    input#comments1.form-control(type='text' name='comments[one]')
                                .form-group.col-8
                                    input#comments2.form-control(type='text' name='comments[two]')
                                .form-group.col-8
                                    input#comments3.form-control(type='text' name='comments[three]')
            #checks.content-part(data-title='Checks')
                .content-inner
                    .row
                        .col-2
                            .form-check
                                br
                                input#witb.form-check-input(type='checkbox' name='witb')
                                label.form-check-label(for='witb') No WITB
                            .form-check
                                br
                                input#ctb.form-check-input(type='checkbox' name='ctb')
                                label.form-check-label(for='ctb') No CTB
                            .form-check
                                br
                                input#gst.form-check-input(type='checkbox' name='gst')
                                label.form-check-label(for='gst') No GST
                            .form-check
                                br
                                input#prov.form-check-input(type='checkbox' name='prov')
                                label.form-check-label(for='prov') No PROV
                            .form-check
                                br
                                input#msp.form-check-input(type='checkbox' name='msp')
                                label.form-check-label(for='msp') Apply MSP Assist
                            .form-check
                                br
                                input#dd.form-check-input(type='checkbox' name='dd')
                                label.form-check-label(for='dd') DD Done
                        .col-8
                            .row
                                .col-8
                                    .form-group
                                        label(for='outstandingInfo') Outstanding Info
                                            input#outstandingInfo.form-control(type='text' name='outstandingInfo')
                                .col-4
                                    .form-group
                                        label(for='consult') Consult Fee
                                        input#consult.form-control(type='number' name='consultFee')
                                    .form-group
                                        label(for='price') Price Quoted
                                        input#price.form-control(type='number' name='price')
                            .col-12
                                .row
                                    .form-group.col-3
                                        label.red(for='husbandT1135') T1135 H
                                        input#husbandT1135.form-control(type='number' min=0 max=2 name='husband[t1135][value]')
                                    .form-group.col-3
                                        label.red(for='wifeT1135') T1135 W
                                        input#wifeT1135.form-control(type='number' min=0 max=2 name='wife[t1135][value]')
                                    .form-group.col-3
                                        label.red(for='prSold') PR Sold
                                        select#prSold.form-control(name='prSold' required)
                                            option
                                            option N
                                            option Y
                                .row
                                    .form-group.col-3
                                        label(for='pickupDate') Pickup Date
                                        input#pickupDate.form-control.datepicker(type='text' name='pickupDate')
                                    .form-group.col-3
                                        label(for='preparer') Preparer
                                        select#preparer.initials.form-control(name='preparer')
                                    .form-group.col-3
                                        label(for='returns') Number of Returns
                                        input#returns.form-control(type='number' name='numberOfReturns')
                                    .form-group.col-3
                                        label(for='group') Group
                                        input#group.form-control(type='text' name='group')
                                br
                                .row
                                    .form-check
                                        input#slips.form-check-input(type='checkbox' name='slips')
                                        label.form-check-label(for='slips') Simple
                                    .form-check
                                        input#stocks.form-check-input(type='checkbox' name='stocks')
                                        label.form-check-label(for='stocks') Stocks
                                    .form-check
                                        input#confirmPickupDate.form-check-input(type='checkbox' name='confirmPickupDate')
                                        label.form-check-label.red(for='confirmPickupDate') CFM PU
                                    .form-check
                                        input#t777.form-check-input(type='checkbox' name='t777')
                                        label.form-check-label(for='t777') T777
                                    .form-check
                                        input#rental.form-check-input(type='checkbox' name='rental')
                                        label.form-check-label(for='rental') Rental
                                    .form-check
                                        input#selfEmployed.form-check-input(type='checkbox' name='selfEmployed')
                                        label.form-check-label(for='selfEmployed') Self Emp
                
                br

                input.btn.btn-success.offset-1.col-10(type='submit' value='Save' style='margin-top:1%')