//
   Created by ander on 2018-01-13.

extends ../layout

block content

    script(type='text/javascript', src='/js/directory.js')

    #table.col-12
        table.cell-border
            thead
                tr
                    th Client Name
                    th Old PRE
                    th PRE
                    th T1135
                    if (role === 'Administrator')
                        th

            tbody
                each client in clients
                    tr(data-href="/t1/client/" + client._id)
                        td.text-nowrap #{client.fileName}
                        td=client.oldPreparer
                        td=client.preparer
                        td
                            if client.t1135 == 'N' || client.t1135 == ''
                                | 0
                            if client.t1135 == 'SIMPLE'
                                | 1
                            if client.t1135 == 'COMPLICATED'
                                | 2
                        if (role === 'Administrator')
                            td
                                span.badge.badge-danger.badge-pill
                                    i.fa.fa-times