//
   Created by ander on 2017-12-03.

extends layout

block content
    .container
        h1 Home
        p Please use the navigation bar at the top to get started.
        hr

        br

        legend Notices or Announcements