doctype
html

    head
        title BLCL
        link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
        link(rel='stylesheet', href='/css/stylesheet.css')
        link(rel='stylesheet', href='/css/datatables/datatables.min.css')
        link(rel='stylesheet', href='/js/jquery-ui-1.12.1.custom/jquery-ui.min.css')
        link(rel='stylesheet', href='/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css')
        //- link(rel='stylesheet', href='/js/fontawesome-free-5.1.0-web/css/all.css')
        link(rel='stylesheet', href='/fontawesome-free/css/all.css')
        script(type="text/javascript", src='/js/jquery/jquery-3.1.1.min.js')
        script(type='text/javascript', src='/js/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        script(type="text/javascript", src='/js/tether/tether.js')
        script(type='text/javascript', src='/js/bootstrap/bootstrap.js')
        script(type="text/javascript", src='/js/bootstrap-formhelpers.min.js')
        script(type="text/javascript", src='/js/datatables/datatables.min.js')
        script(type='text/javascript', src='/js/fnFindCellRowIndexes.js')
        script(type="text/javascript", src='/js/moment.min.js')
        script(type="text/javascript", src='/js/datetime-moment.js')
        script(type="text/javascript", src='/js/utils/classes.js')
        script(type="text/javascript", src='/socket.io/socket.io.js')
        script(type='text/javascript').
            var role = !{JSON.stringify(role)};
            var options = !{JSON.stringify(options)};
        script(src='/js/datatable_tabs/inputs.js')
        script(type='text/javascript', src='/js/datatable_tabs/posts.js')

    body
        nav.navbar.navbar-default.navbar-toggleable-md.fixed-top(role='navigation')
            button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='/') BLCL
            if role
                #navbar.collapse.navbar-collapse.container
                    ul.nav.navbar-nav.mr-auto
                        li.nav-item.dropdown
                            a#clientsDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Clients
                            .dropdown-menu(aria-labelledby='clientsDropdown')
                                a.dropdown-item(href='/clients/client') New Client
                                a.dropdown-item(href='/clients/directory') Client Directory
                                a.dropdown-item(href='/clients/templates') Templates
                        li.nav-item.dropdown
                            a#t1Dropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') T1
                            .dropdown-menu(aria-labelledby='t1Dropdown')
                                a.dropdown-item(href='/t1/clients') My Clients
                                a.dropdown-item(href='/t1/client') New Client
                                a.dropdown-item(href='/t1/directory') Directory
                                a.dropdown-item(href='/t1/monitoring') Monitoring
                                a.dropdown-item(href='/t1/t1_efiled') T1 Efiled
                                a.dropdown-item(href='/t1/gst_efiled') GST Efiled
                                if (role == 'Administrator')
                                    a.dropdown-item(href='/payment') Payments
                        li.nav-item.dropdown
                            a#nrDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') NR
                            .dropdown-menu(aria-labelledby='nrDropdown')
                                //a.dropdown-item(href='/nr/clients') My Clients
                                a.dropdown-item(href='/nr/client') New Client
                                a.dropdown-item(href='/nr/directory') Directory
                                a.dropdown-item(href='/nr/monitoring') Monitoring
                        li.nav-item.dropdown
                            a#invoiceDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Invoicing
                            .dropdown-menu(aria-labelledby='invoiceDropdown')
                                a.dropdown-item(href='/invoice/invoice') New Invoice
                                a.dropdown-item(href='/invoice/invoices') Invoices
                                a.dropdown-item(href='/invoice/description') Descriptions
                                if (role == 'Administrator')
                                    a.dropdown-item(href='/invoice/sales') Sales
                                    a.dropdown-item(href='/invoice/payments') Payments
                                    a.dropdown-item(href='/invoice/os') OS Invoices

                    ul.nav.navbar-nav.pull-right
                        li.nav-item
                            a.nav-link(href='/login') Logout
                        if role == 'Administrator'
                            li.nav-item.dropdown
                                a#dropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Admin
                                    span.navbar-toggler-icon
                                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown')
                                    a.dropdown-item(href='/users') Staff Clients
                                    a.dropdown-item(href='/manage_users') Manage Users
                                    a.dropdown-item(href='/staff_analysis') Staff Analysis
                                    a.dropdown-item(href='/summary') Summary
        #content
            block content