doctype
html

    head
        title BLCL
        link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
        link(rel='stylesheet', href='/css/stylesheet.css')
        link(rel='stylesheet', href='/css/datatables/datatables.min.css')
        link(rel='stylesheet', href='/js/jquery-ui-1.12.1.custom/jquery-ui.min.css')
        script(type="text/javascript", src='/js/jquery/jquery-3.1.1.min.js')
        script(type='text/javascript', src='/js/jquery-ui-1.12.1.custom/jquery-ui.min.js')
        script(type="text/javascript", src='/js/tether/tether.js')
        script(type='text/javascript', src='/js/bootstrap/bootstrap.js')
        script(type="text/javascript", src='/js/bootstrap-formhelpers.min.js')
        script(type="text/javascript", src='/js/datatables/datatables.min.js')
        script(type='text/javascript', src='/js/fnFindCellRowIndexes.js')
        script(type="text/javascript", src='/js/moment.min.js')
        script(type="text/javascript", src='/js/datetime-moment.js')
        script(type="text/javascript", src='/js/utils/datepicker.js')
        script(type="text/javascript", src='/socket.io/socket.io.js')
        script(type='text/javascript').
            var role = !{JSON.stringify(role)};
            var options = !{JSON.stringify(options)};
        script(src='/js/datatable_tabs/inputs.js')
        script(type='text/javascript', src='/js/datatable_tabs/posts.js')

    body
        nav.navbar.navbar-default.navbar-toggleable-md.fixed-top(role='navigation')
            button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='/') BLCL
            if role
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.mr-auto
                        li.nav-item.dropdown
                            a#t1Dropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') T1
                            .dropdown-menu(aria-labelledby='t1Dropdown')
                                a.dropdown-item(href='/t1') Directory
                                a.dropdown-item(href='/t1/monitoring') Monitoring Sheet
                                a.dropdown-item(href='/t1/efiled') Efiled Sheet
                        //li.nav-item
                        //    a.nav-link(href='/t2') T2
                        //li.nav-item
                        //    a.nav-link(href='/t2') T4
                        //li.nav-item
                        //    a.nav-link(href='/t2') T5

                    ul.nav.navbar-nav.pull-right
                        li.nav-item
                            a.nav-link(href='/clients') My Clients
                        li.nav-item
                            a.nav-link(href='/client') New Client
                        if role == 'Administrator'
                            li.nav-item.dropdown
                                a#dropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Admin
                                    span.navbar-toggler-icon
                                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown')
                                    a.dropdown-item(href='/users') Staff Clients
                                    a.dropdown-item(href='/payment') Payments
                                    a.dropdown-item(href='/manage_users') Manage Users
                                    a.dropdown-item(href='/staff_analysis') Staff Analysis
        #content
            block content