doctype
html

    body

        h3='Dear ' + attention + ','
        br

        p Your #{year} T1 General Tax Return is ready to be picked up.
        p Please bring your cheques for payment to CRA and to Benjamin Leung & Co., Ltd. when you come up to sign your return.
        br
        br
        p Thanks and regards,
        |   Benjamin Leung & Co., Ltd<br/>
        |   <strong>Chartered Professional Accountant</strong>