doctype
html

    body

        h3='Dear ' + attention + ','
        br

        p Your T1 is packed and ready for you to pick up as of #{date}.
        p Please be ready to sign and pay upon arrival.
        br
        br
        p Thanks and regards,
        |   #{user}<br/>
        |   Benjamin Leung & Co., Ltd<br/>
        |   <strong>Chartered Professional Accountant</strong>