//
   Created by ander on 2017-09-25.

extends layout

block content
    if role == 'Administrator'
        .row
            #table.col-12
                table.cell-border
                    thead
                        tr
                            th Date
                            th Previous day
                            th Today
                            th Picked up today
                            th Cumu PU
                            th WIP
                            th Yes
                            th Yes Total